.root {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 16px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e21919;
    gap: 4rem;
    padding: 16px;
}